/*********************** START GLOBAL RULES ***************************/

:root {
    --special-Box-Shadow: 0px 0px 51px 2px inset var(--first-Color);
    --transition-hover: 0.5s ease-in-out;
    --first-Color: rgb(18, 18, 18);
    --second-Color: #0078f2;
    --third-Color: #4ed01a;
    --fourth-Color: silver;
}

@font-face {
    font-family: "rog";
    src: url("/7032-fontps.ttf");
}

body {
    font-family: "M PLUS Rounded 1c", sans-serif;
    min-height: 100vh;
}

.glass-black {
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border: 1px solid rgba(0, 0, 0, 0.88);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.neon-button {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border: 1px solid rgba(0, 0, 0, 0.88);
    color: var(--fourth-Color);
    padding: 10px 15px;
    transition: var(--transition-hover);
    -webkit-transition: var(--transition-hover);
    -moz-transition: var(--transition-hover);
    -ms-transition: var(--transition-hover);
    -o-transition: var(--transition-hover);
}

.neon-button:hover {
    box-shadow: 0 0px 3px var(--second-Color);
    border-color: var(--second-Color);
    color: var(--second-Color);
}

.title-section {
    font-family: "rog";
    text-transform: uppercase;
    width: fit-content;
    margin: 0 auto;
    background-color: rgb(255, 255, 255, 0.1);
    border: 1px solid rgb(255, 255, 255, 0.1);
    color: var(--fourth-Color);
    position: relative;
    padding: 10px 70px;
    z-index: 5;
    border-radius: 8px;
    transition: 0.3s 0.3s;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    -webkit-transition: 0.3s 0.3s;
    -moz-transition: 0.3s 0.3s;
    -ms-transition: 0.3s 0.3s;
    -o-transition: 0.3s 0.3s;
}

@media (max-width: 767px) {
    .title-section {
        padding: 10px 40px;
    }
}

.title-section:hover {
    background-color: var(--second-Color);
}

.title-section::before,
.title-section::after {
    content: "\f091";
    font-weight: 900;
    font-family: "Font Awesome 6 Free";
    position: absolute;
    transition: 0.3s !important;
    -webkit-transition: 0.3s !important;
    -moz-transition: 0.3s !important;
    -ms-transition: 0.3s !important;
    -o-transition: 0.3s !important;
}

.title-section::before {
    left: -20%;
}

.title-section:hover::before {
    left: 10px;
}

.title-section::after {
    right: -20%;
}

.title-section:hover::after {
    right: 10px;
}


/* Small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}


/* Medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}


/* Large */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/*********************** END GLOBAL RULES ***************************/


/*********************** START HEADER ***************************/

.rain {
    display: flex;
}

.rain i {
    font-size: 3rem;
    position: absolute;
    top: -20%;
    width: 48px;
    height: 48px;
    z-index: 1;
    margin: 20px;
    filter: blur(5px);
    -webkit-filter: blur(15px);
    transition: filter 1s;
    -webkit-transition: filter 1s;
    -moz-transition: filter 1s;
    -ms-transition: filter 1s;
    -o-transition: filter 1s;
}

.rain i:hover {
    filter: blur(1px);
    -webkit-filter: blur(1px);
}

.rain i.fa-playstation {
    color: blue;
}

.rain i.fa-xbox {
    color: green;
}

.rain i.fa-gamepad {
    color: red;
}

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    width: 100%;
    top: 0;
    z-index: 50;
    height: 80px;
}

header::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    border: 1px solid rgba(0, 0, 0, 0.88);
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    position: absolute;
}

header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--fourth-Color);
    overflow: hidden;
    font-family: "rog";
    width: 25%;
}

header .logo img {
    width: 50px;
    background-color: rgb(0, 0, 0, 0.3);
    border: 2px solid var();
    padding: 5px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

header nav {
    display: flex;
    gap: 10px;
    overflow: hidden;
    height: 100%;
    align-items: center;
    flex: 1;
    justify-content: center;
}

header nav a {
    color: var(--fourth-Color);
    display: flex;
    gap: 5px;
    position: relative;
    padding: 10px;
    overflow: hidden;
    font-weight: regular;
    text-transform: uppercase;
    transition: var(--transition-hover);
    -webkit-transition: var(--transition-hover);
    -moz-transition: var(--transition-hover);
    -ms-transition: var(--transition-hover);
    -o-transition: var(--transition-hover);
}

header .info {
    display: flex;
    justify-content: center;
    gap: 10px;
    width: 25%;
}


/*********************** End HEADER ***************************/


/*********************** START INTRO-COMPANY ***************************/

.intro-company {
    padding-top: 70px;
    padding-bottom: 70px;
    height: 100vh;
    position: relative;
    overflow-x: clip;
    background-color: rgb(18, 18, 18);
    background-image: linear-gradient(-284deg, var(--first-Color) 50%, black 50%);
}

.intro-company .container {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

.intro-company .intro {
    position: absolute;
    margin: 0 auto;
    width: 80%;
    color: var(--fourth-Color);
    background-color: black;
    filter: blur(0.2px);
    -webkit-filter: blur(0.2px);
    z-index: 5;
    border: 2px solid rgba(255, 255, 255, 0.1);
    top: -100%;
    transform: translateY(-20%);
    transition: 0.5s 1s ease-out;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-transition: 0.5s 1s ease-out;
    -moz-transition: 0.5s 1s ease-out;
    -ms-transition: 0.5s 1s ease-out;
    -o-transition: 0.5s 1s ease-out;
}

.intro-company .intro#coming {
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.intro-company .intro {
    display: flex;
}

.intro-company .intro .text,
.intro-company .intro .brand,
.intro-company .intro .brand img {
    width: 50% !important;
}

.intro-company .intro .text {
    display: flex;
    flex-direction: column;
    background-color: var(--first-Color);
    padding: 50px;
}

.intro-company .intro .text h2 {
    line-height: 1.4;
    opacity: 0.5;
}

.intro-company .intro .text h2 i {
    font-size: 3rem;
    font-weight: bold;
}

.intro-company .intro .text h2 i:nth-child(1) {
    color: blue;
}

.intro-company .intro .text h2 i:nth-child(2) {
    color: green !important;
}

.intro-company .intro .text h2 i:nth-child(3) {
    color: black;
}

.intro-company .intro .text h2 i:nth-child(3) {
    color: yellow;
}

.intro-company .intro .text h2 i:nth-child(4) {
    color: magenta;
}

.intro-company .intro #shop {
    backdrop-filter: none;
}

.intro-company .intro .brand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero {
    position: absolute;
    top: 15%;
    z-index: 5;
    transition: 1s ease-out;
    -webkit-transition: 1s ease-out;
    -moz-transition: 1s ease-out;
    -ms-transition: 1s ease-out;
    -o-transition: 1s ease-out;
    display: none;
}

.hero-one {
    position: absolute;
    width: 60%;
    right: -100%;
}

.hero-two {
    position: absolute;
    width: 54%;
    left: -100%;
}

.hero-one#coming {
    right: -20%;
}

.hero-two#coming {
    left: -20%;
}


/*********************** End Intro-Company ***************************/


/*********************** Start Discount ***************************/

#discount {
    padding-top: 100px;
    height: 100vh;
    background-image: linear-gradient(284deg, var(--first-Color) 50%, black 50%);
}

#discount .tns-outer {
    position: relative;
    padding: 20px 40px !important;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

#discount .tns-outer>button {
    display: none;
}

#discount .tns-outer .tns-nav {
    display: flex !important;
    width: 60%;
    margin: 0 auto;
    justify-content: center;
    gap: 5px;
    margin-bottom: 30px;
}

#discount .tns-outer .tns-nav button {
    width: 20px;
    height: 20px;
    background-color: rgb(255, 255, 255, 0.1);
    border: 1px solid rgb(255, 255, 255, 0.4);
    filter: blur(1px);
    transition: var(--transition-hover);
    border-radius: 50%;
    -webkit-filter: blur(1px);
    -webkit-transition: var(--transition-hover);
    -moz-transition: var(--transition-hover);
    -ms-transition: var(--transition-hover);
    -o-transition: var(--transition-hover);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#discount>*:focus-visible {
    outline: none;
}

#discount .tns-outer .tns-nav button.tns-nav-active {
    border: none;
    background-color: var(--second-Color);
    filter: blur(0);
    -webkit-filter: blur(0);
}

#discount .tns-outer .tns-controls {
    width: 100%;
    display: flex !important;
    justify-content: space-between;
    z-index: 5;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

#discount .tns-outer .tns-controls>button {
    background-color: transparent;
    color: var(--second-Color) !important;
    position: relative;
    overflow: hidden;
    border: none;
    font-size: 2rem;
    color: rgb(255, 255, 255, 0.2);
    transition: filter 0.2s;
    transition: color 0.4s;
    -webkit-transition: color 0.4s;
    -moz-transition: color 0.4s;
    -ms-transition: color 0.4s;
    -o-transition: color 0.4s;
}

#discount .tns-outer:hover .tns-controls>button {
    filter: blur(0);
    -webkit-filter: blur(0);
}

#discount .tns-outer .tns-controls>button:first-child {
    margin-left: 3px;
}

#discount .tns-outer .tns-controls>button:last-child {
    margin-right: 3px;
}

#discount #rewind {
    display: flex;
    gap: 1%;
}

#discount #rewind>div {
    position: relative;
    /* width: calc((100% - 2%) / 3); */
    /* padding: 15px 13px; */
    background: rgb(0, 0, 0, 0.3);
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid hsl(0deg 0% 100% / 10%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#discount #rewind div img {
    max-width: 80%;
    height: 50%;
}

#discount #rewind>div .product-info {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    background-color: rgb(0, 0, 0, 0.8);
    padding: 20px 10px;
    box-shadow: var(--special-Box-Shadow);
    width: 100%;
    bottom: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#discount #rewind>div .product-info .details .prix {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#discount #rewind>div .product-info .details .prix span {
    text-align: center;
    min-width: 70px;
    padding: 5px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

#discount #rewind>div .product-info .details .prix span.old {
    background-color: black;
    position: relative;
}

#discount #rewind>div .product-info .details .prix span.old::before,
#discount #rewind>div .product-info .details .prix span.old::after {
    content: "";
    background-color: rgba(220, 20, 60, 0.591);
    position: absolute;
    width: 70%;
    height: 3px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

#discount #rewind>div .product-info .details .prix span.old::before {
    transform: translateX(-50%) rotate(20deg);
    -webkit-transform: translateX(-50%) rotate(20deg);
    -moz-transform: translateX(-50%) rotate(20deg);
    -ms-transform: translateX(-50%) rotate(20deg);
    -o-transform: translateX(-50%) rotate(20deg);
}

#discount #rewind>div .product-info .details .prix span.old::after {
    transform: translateX(-50%) rotate(-20deg);
    -webkit-transform: translateX(-50%) rotate(-20deg);
    -moz-transform: translateX(-50%) rotate(-20deg);
    -ms-transform: translateX(-50%) rotate(-20deg);
    -o-transform: translateX(-50%) rotate(-20deg);
}

#discount #rewind>div .product-info .details .prix span.now {
    background-color: var(--second-Color);
}

#discount #rewind>div .product-info .details .prix span i {
    color: darkolivegreen;
}

#discount #rewind>div .product-info .details {
    display: flex;
    flex-direction: column;
    color: var(--fourth-Color);
    font-size: 1rem;
    font-weight: bolder;
}

#discount #rewind>div .product-info .buy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}

#discount #rewind>div .product-info .buy button {
    position: relative;
    background-color: var(--second-Color);
    border: none;
    color: var(--fourth-Color);
    padding: 5px 10px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

#discount #rewind>div .product-info .buy button::before {
    content: "";
    position: absolute;
    width: 0%;
    height: 100%;
    background-color: rgb(255, 255, 255, 0.2);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: inherit;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    -ms-border-radius: inherit;
    -o-border-radius: inherit;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

#discount #rewind>div .product-info .buy button:hover::before {
    animation: flash 0.3s ease-in-out 1 forwards;
    -webkit-animation: flash 0.3s ease-in-out 1 forwards;
}

#discount #rewind>div .product-info .buy .quantity {
    display: flex;
    justify-content: center;
    gap: 20px;
    color: var(--fourth-Color);
}

#discount #rewind>div .product-info .buy .quantity select {
    width: 50%;
    height: 100%;
    height: 24px !important;
    color: var(--fourth-Color);
    background-color: black;
    border: 1px solid rgba(250, 249, 249, 0.1);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
}

#discount #rewind>div .product-info .buy .quantity select option {
    height: 100%;
}

#discount #rewind>div .product-info .buy .quantity select option {
    background-color: black;
    color: white;
}

#discount #rewind>div .product-info .stars {
    width: fit-content;
    margin: 0 auto;
}

#discount #rewind>div .product-info .stars i {
    color: gold;
    transition: transform 0.5s ease-out;
    -webkit-transition: transform 0.5s ease-out;
    -moz-transition: transform 0.5s ease-out;
    -ms-transition: transform 0.5s ease-out;
    -o-transition: transform 0.5s ease-out;
}

#discount #rewind>div .product-info .stars i:hover {
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -o-transform: rotate(1turn);
}

#discount #rewind>div .product-info .stars #done::before {
    font-weight: 900 !important;
}


/* #discount #rewind>div .product-info .stars i:hover {
    transform: rotate(1turn);
    -webkit-transform: rotate(1turn);
    -moz-transform: rotate(1turn);
    -ms-transform: rotate(1turn);
    -o-transform: rotate(1turn);
} */


/* Start Animation  */

@keyframes flash {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}


/* End Animation  */