/* Start Global Rules  */


/* Start Container */


/* Small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}


/* Medium */

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}


/* Large */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* End Container */

@media (max-width: 767px) {
    .title-section {
        padding: 10px 40px;
        width: 60%;
    }
    .title-section span {
        font-size: 1rem;
    }
}

@media (max-width: 767px) {
    span.special-text {
        display: none;
    }
}


/* End Global Rules  */


/* START HEADER */

@media (max-width: 767px) {
    header .container {
        width: inherit;
    }
    header .info button>span {
        display: none;
    }
}

@media (max-width: 1200px) {
    header .container {
        gap: 10px;
    }
    header .logo {
        width: fit-content;
    }
    header .logo h1 {
        font-size: 1.2rem;
    }
    header nav {
        position: fixed;
        bottom: 0;
        justify-content: space-around !important;
        width: 100%;
        z-index: 9;
        left: 0;
        height: 10%;
    }
    header nav::before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(0, 0, 0, 0.7);
        /* backdrop-filter: blur(1px);
        -webkit-backdrop-filter: blur(1px); */
    }
    header nav a {
        height: 100%;
        width: 100%;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        position: relative;
        font-size: 0.6rem;
    }
    header nav a.active::before {
        content: "";
        width: 100%;
        height: 5px;
        position: absolute;
        background-color: var(--second-Color);
        transform: translateX(-50%);
        top: 0;
        z-index: 1;
        left: 55%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    header nav::after {
        content: "";
        width: 100%;
        height: 5px;
        position: absolute;
        background-color: var(--product-info-background);
        top: 0;
        z-index: 0;
    }
    header nav a.active i,
    header nav a.active {
        color: var(--second-Color);
        font-weight: bolder;
    }
    header nav a.active i {
        font-size: 1.2rem;
    }
    header .info {
        width: fit-content;
    }
}

@media (min-width: 1200px) {
    header nav a::after {
        content: "";
        width: 100%;
        height: 3px;
        position: absolute;
        bottom: 0px;
        left: -100%;
        background-color: var(--second-Color);
        transition: var(--transition-hover);
        -webkit-transition: var(--transition-hover);
        -moz-transition: var(--transition-hover);
        -ms-transition: var(--transition-hover);
        -o-transition: var(--transition-hover);
    }
    header nav a:hover::after,
    header nav a.active::after {
        left: 0;
    }
    header nav a i {
        font-size: 1.5rem;
        position: absolute;
        color: var(--second-Color);
        left: -100%;
        top: 50%;
        transform: translateY(-50%);
        transition: var(--transition-hover);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transition: var(--transition-hover);
        -moz-transition: var(--transition-hover);
        -ms-transition: var(--transition-hover);
        -o-transition: var(--transition-hover);
    }
    header nav a:hover i,
    header nav a.active i {
        left: 2%;
    }
    header nav a:hover,
    header nav a.active {
        padding-left: 38px;
        color: var(--second-Color);
    }
}

@media (min-width: 768px) {
    header .logo h1 {
        font-size: 1.5rem;
    }
    header nav a {
        font-size: 1rem;
    }
}


/* END HEADER */


/* START CART BUY */

@media (max-width: 768px) {
    .container.cart-buy {
        width: 95%;
    }
    .cart-buy .info-shopping-cart h2 {
        font-size: 1.3rem;
    }
    .cart-buy .info-shopping-cart span,
    .cart-buy .product .info-product .mony .remove-product {
        font-size: 0.7rem;
    }
    .cart-buy .cart-products {
        gap: 10px;
        padding-right: 5px;
        scrollbar-width: none;
    }
    .cart-buy .product {
        padding-left: 20px;
        gap: 30px;
    }
    .cart-buy .product img {
        width: 70px;
        height: 90px;
    }
    .cart-buy .product .info-product .info {
        flex: 1;
    }
    .cart-buy .product .info-product .info h2 {
        font-size: 1rem;
    }
    .cart-buy .product .info-product .control-quantity i {
        font-size: 1.5rem;
    }
    .cart-buy .product .info-product .control-quantity {
        flex: 1;
    }
    .cart-buy .product .info-product .control-quantity .quantity {
        font-size: 1rem;
        padding: 3px;
    }
    .cart-buy .product .info-product .mony .price {
        font-size: 1.3rem;
    }
    .cart-buy .total-price .payment {
        font-size: 1rem;
    }
    .cart-buy .total-price .total {
        font-size: 1rem;
    }
}


/* END CART BUY */


/* START CART PAYMENT */

@media (max-width: 768px) {
    .card-payment {
        width: 95%;
    }
    .card-payment img {
        display: none;
    }
    .card-payment .title {
        padding: 0;
        font-size: 1.2rem;
    }
    .card-payment form label {
        font-size: 0.8rem;
    }
}


/* END CART PAYMENT */


/* START INTRO COMPANY */

@media (max-width: 767px) {
    .intro-company .intro .text {
        padding: 10px;
    }
    .intro-company .intro .text h1 {
        font-size: 12px;
    }
    .intro-company .intro .text h2 {
        font-size: 10px;
    }
    .intro-company .intro .text h2 i {
        font-size: 0.6rem;
    }
    .intro-company .intro .text #shop {
        padding: 5px;
        font-size: 12px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .intro-company .intro {
        height: 40%;
        justify-content: center;
        gap: 5px;
    }
    .intro-company .intro .text {
        justify-content: center;
    }
    .intro-company .intro .text h1 {
        font-size: 15px;
    }
    .intro-company .intro .text h2 {
        font-size: 12px;
    }
    .intro-company .intro .text h2 i {
        font-size: 1rem;
    }
    .intro-company .intro .text #shop {
        padding: 5px;
        font-size: 14px;
    }
}


/* END INTRO COMPANY */


/* START DISCOUNT */

@media (max-height: 970px) {
    #discount {
        height: initial;
    }
}

@media (max-width: 768px) {
    #discount .text-intro {
        font-size: 2rem;
    }
    #discount .swiper {
        width: 70%;
        height: 600px;
    }
    #discount .swiper .product {
        min-height: 70%;
        max-height: 70%;
    }
    #discount .swiper .product img {
        height: 50%;
    }
    #discount .swiper .product-info {
        height: 50%;
        padding: 10px;
    }
    #discount .swiper .product .product-info .details {
        font-size: 0.6rem;
    }
    #discount .swiper .product .product-info .buy {
        flex-direction: row;
    }
    #discount .swiper .product .product-info .buy button {
        font-size: 0.7rem;
        padding: 5px;
        width: 70%;
    }
    #discount .swiper .product .product-info .buy .quantity {
        width: 30%;
    }
    #discount .swiper .product .product-info .buy .quantity span:first-child {
        display: none;
    }
    #discount .swiper .product .product-info .buy .quantity select {
        width: 100%;
    }
    #discount .swiper .product .product-info .quantity {
        font-size: 0.6rem;
    }
    #discount .swiper .swiper-button-next,
    #discount .swiper .swiper-button-prev {
        display: none;
    }
}


/* END DISCOUNT */


/* Start Shop Now  */

@media (max-height: 900px) {
    #shop-now {
        height: initial;
    }
}


/* End Shop Now  */


/* Start About  */


/* Start About  */

@media (max-width: 768px) {
     :is(#about .container .about-logo) #wernech,
    #marcus {
        display: NONE;
    }
    #about .container .about-logo .img-logo {
        width: 140px;
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1px;
    }
    .container .about-logo .img-logo img {
        height: 70%;
        padding: 0;
    }
}

@media (max-height: 900px) {
    .container .about-logo .img-logo img {
        padding: 25px;
    }
}

@media (min-height: 2000px) {
    .container .about-logo,
    .container .about-text {
        height: 30% !important;
    }
}

@media (max-width: 992px) {
    #about .container .about-text {
        font-size: 1.1rem;
    }
}

@media (max-width: 992px) {
     :is(#about .container .about-logo) #wernech {
        left: 58%;
        transform: translate(-50%, 7%);
        -webkit-transform: translate(-50%, 7%);
        -moz-transform: translate(-50%, 7%);
        -ms-transform: translate(-50%, 7%);
        -o-transform: translate(-50%, 7%);
    }
     :is(#about .container .about-logo) #marcus {
        left: 40%;
        transform: translate(-50%, 9%);
        -webkit-transform: translate(-50%, 9%);
        -moz-transform: translate(-50%, 9%);
        -ms-transform: translate(-50%, 9%);
        -o-transform: translate(-50%, 9%);
    }
}


/* Start Contact Me */

@media (max-width: 768px) {
    #contact-me form h1 {
        font-size: 1.5rem;
    }
    #contact-me form p {
        font-size: 0.8rem;
        line-height: 1.1;
    }
    #contact-me form input {
        font-size: 10px !important;
        padding: 10px !important;
    }
    #contact-me form input:last-of-type {
        margin-top: 10px;
    }
}


/* End Contact Me */


/* Start Footer */

@media (max-width: 767px) {
    footer div h1 {
        font-size: 18px;
    }
    footer div ul li {
        font-size: 14px;
        padding: 10px 0;
    }
    footer .social {
        flex-wrap: wrap;
        justify-content: center;
        gap: 4%;
        row-gap: 10px;
    }
    footer .social i,
    footer .address address i {
        font-size: 30px;
    }
    footer .address address {
        font-size: 14px;
    }
}

@media (max-width: 992px) {
    footer {
        padding: 30px;
        margin-bottom: 100vh;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    footer div {
        width: initial;
    }
    footer .social {
        flex-wrap: wrap;
        justify-content: center;
        gap: 4%;
        row-gap: 10px;
    }
    footer .social a {
        width: 48%;
        text-align: center;
    }
}


/* End Footer */