/* Start Header */

@media (max-width: 768px) {
    header nav {
        position: fixed;
        bottom: 0;
        justify-content: space-around !important;
        width: 100%;
        background-color: var(--first-Color);
        z-index: 9;
        left: 0;
        height: 15%;
    }
    header nav a {
        height: 100%;
        width: 100%;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        position: relative;
        font-size: 0.7rem;
    }
    header nav a.active::after {
        content: "";
        width: 50px;
        height: 1px;
        position: absolute;
        background-color: var(--second-Color);
        top: 0px;
        left: 50%;
        transform: translateX(-50%);
    }
    header nav a.active i,
    header nav a.active {
        color: var(--second-Color);
    }
    header nav a.active i {
        font-size: 1.5rem;
    }
}

@media (min-width: 768px) {
    header nav a::after {
        content: "";
        width: 100%;
        height: 3px;
        position: absolute;
        bottom: 0px;
        left: -100%;
        background-color: var(--second-Color);
        transition: var(--transition-hover);
        -webkit-transition: var(--transition-hover);
        -moz-transition: var(--transition-hover);
        -ms-transition: var(--transition-hover);
        -o-transition: var(--transition-hover);
    }
    header nav a:hover::after,
    header nav a.active::after {
        left: 0;
    }
    header nav a i {
        font-size: 1.5rem;
        position: absolute;
        color: var(--second-Color);
        left: -100%;
        top: 50%;
        transform: translateY(-50%);
        transition: var(--transition-hover);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -webkit-transition: var(--transition-hover);
        -moz-transition: var(--transition-hover);
        -ms-transition: var(--transition-hover);
        -o-transition: var(--transition-hover);
    }
    header nav a:hover i,
    header nav a.active i {
        left: 2%;
    }
    header nav a:hover,
    header nav a.active {
        padding-left: 38px;
        color: var(--second-Color);
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    header .logo .spider {
        width: 40px;
        height: 40px;
    }
    header .logo .spider i {
        font-size: 1.5rem;
    }
    header .logo h1 {
        font-size: 1rem;
    }
    header nav a {
        font-size: 0.6rem;
    }
    header .info {
        flex-direction: column;
    }
    header .info button {
        font-size: 0.7rem;
        padding: 2px 5px;
    }
}


/* End Header */

@media (max-width: 768px) {
    .hero {
        display: none;
    }
    .intro-company .intro {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .hero-one {
        right: -100%;
        width: 90%;
        top: 25%;
    }
    .hero-one#coming {
        right: -35%;
    }
    .hero-two {
        width: 90%;
        left: -100%;
        top: 10%;
    }
    .hero-two#coming {
        left: -55%;
    }
    .hero-three {
        bottom: 0%;
    }
}